:root {
  //whites
  --clr-white: #fff;
  --clr-off-white: #fafafa;

  //pinks
  --clr-pink: #fa9ecc;
  --clr-bold-pink: #ff6699;
  
  //golds
  --clr-gold: #ff9933;

  //blues
  --clr-blue: #4d79ff;
  --clr-blue-dark-5: #3366ff;
  --clr-blue-light-5: #668cff;

  --clr-light-blue: #99b3ff;
  --clr-light-blue-dark-5: #809fff;
  --clr-light-blue-light-5: #b3c6ff;

  --clr-pale-blue: #e0e5f5;

  //blacks/grays
  --clr-light-gray: #ddd;
  --clr-mid-gray: #888;
  --clr-dark-gray: #444;
  --clr-bottom-gray: #242424;
  --clr-bottom-gray-light-5: #282828;
  --clr-bottom-gray-light-10: #2b2b2b;
  --clr-bottom-gray-dark-5: #202020;
  --clr-black: #000;

  //resolved color variables
  --clr-primary: var(--clr-bold-pink);
  --clr-secondary: var(--clr-mid-gray);
  --clr-border: var(--clr-dark-gray);
  --clr-bg: var(--clr-bottom-gray);
  --clr-bg-light-5: var(--clr-bottom-gray-light-5);
  --clr-bg-light-10: var(--clr-bottom-gray-light-10);
  --clr-bg-dark-5: var(--clr-bottom-gray-dark-5);
  --clr-font: var(--clr-off-white);

  //assignment
  color: var(--clr-font);
  background-color: var(--clr-bg);
}